*{
    margin: 0px;
    font-family: 'inter';
}

#header{
    background-color: #303030;
    padding: 32vh 0vw 23vh 5vw;
    color: #FFFFFF;
}

#headerTitle{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 25px;
}

#headerText{
    font-size: 1.5vw;
}

#infoMenu{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    font-size: 1.4vw;
    font-weight: 400;
    padding: 12vh 0vw 10vh 10vw;
    margin-bottom: 75px;
}

#imageSection{
    display: grid;
    grid-auto-flow: column;
}